[Unit]
Description=Daphne ASGI server
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ project_path }}
ExecStart={{ virtualenv_path }}/bin/daphne -b 0.0.0.0 -p 8000 snpProject.asgi:application

[Install]
WantedBy=multi-user.target